/* font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond,
    "Times New Roman", serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.05rem;

  font-family: "Quicksand", sans-serif; */

.body-wrap {
  margin: 20px 50px;
}
.cart-title {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond,
    "Times New Roman", serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.05rem;
  font-size: 2rem;
  margin: 0;
}
.cart-group-text-wrap {
  display: flex;
  gap: 50px;
  margin-left: 130px;
}
.cart-group-text {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

.all-products-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.first-product-wrap {
  display: flex;
  gap: 30px;
  background-color: #b0acc318;
  max-width: 40%;
}

.second-product-wrap {
  display: flex;
  gap: 30px;
  max-width: 40%;
}

.first-product-info {
  display: flex;
  gap: 100px;
}

.first-pic {
  width: 100px;
  height: auto;
}

.product-name {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.product-quantity-size {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}
