@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

.ham {
  display: none;
}

.hidden {
  visibility: hidden;
  opacity: 0%;
}

/*
 * ----------------------------------------------------------------------------
 * ANNOUNCEMENT BAR
 * ----------------------------------------------------------------------------
 */
.AnnouncementBar {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  background-color: #b0acc3;
  color: white;
  height: 30px;
  width: 100vw;
}

.AnnouncementBar__Content {
  color: inherit;
  margin: 0;
}

/*
 * ----------------------------------------------------------------------------
 * NAV
 * ----------------------------------------------------------------------------
 */

/* ------DARIA------- */

body {
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond,
    "Times New Roman", serif;
  font-size: 5rem;
  flex: 1;
}

.logo:hover {
  color: #b0acc3;
  transition: transform 0.2s ease;
}

nav a,
nav ul {
  list-style: none;
  text-decoration: none;
  color: black;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 150px;
  font-size: 1.5rem;
  justify-content: center;
}

nav li {
}

.switch_language {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex: 1;
}

.language {
  font-size: 1.25rem;
}

.language:hover,
nav li:hover {
  /* border-bottom: 2px solid #b0acc3; */
  text-decoration: underline;
}

.search {
  background-image: url(img/search.png);
}

.search:hover {
  background-image: url(img/search-hover.png);
  transition: transform 0.2s ease;
}

.shop_bag {
  background-image: url(img/shopping-bag.png);
}

.shop_bag:hover {
  background-image: url(img/shopping-bag-hover.png);
  transition: transform 0.2s ease;
}

.user_account {
  background-image: url(img/user.png);
}

.icon {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.user_account:hover {
  background-image: url(img/user-hover.png);
  transition: transform 0.2s ease;
}

.icon_bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
  flex: 1;
}

.shopping-cart-group {
  display: flex;
  gap: 10px;
}

.shop_text {
  margin: 0;
}

.purple-line {
  width: 100vw;
  height: 1px;
  background-color: #b0acc3;
}

.language-logo-icons-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
}

@media only screen and (max-width: 480px) {
  .mobile-hidden {
    display: none;
  }

  .mobile-nav-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Quicksand", sans-serif;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .hamburger-wrapper {
    flex: 1;
  }

  .hamburger-menu {
    background-image: url(img/ham.png);
    width: 30px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .logo-mobile {
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond,
      "Times New Roman", serif;
    font-size: 3rem;
    list-style: none;
    text-decoration: none;
    color: black;
    flex: 1;
  }

  .shop-wrap-mobile {
    display: flex;
    gap: 10px;
    align-items: center;
    flex: 1;
  }

  .shop-cart-mobile {
    background-image: url(img/shopping-bag.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .shop-text-mobile {
    font-size: 0.7rem;
  }

  .AnnouncementBar-mobile {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    background-color: #b0acc3;
    color: white;
    height: 18px;
    width: 100vw;
  }

  .AnnouncementBar__Content-mobile {
    color: inherit;
    margin: 0;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1100px) {
}

@media only screen and (min-width: 1200px) {
  .desktop-hidden {
    display: none;
  }
}
