@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

.ham {
  display: none;
}

.hidden {
  visibility: hidden;
  opacity: 0%;
}

/*
 * ----------------------------------------------------------------------------
 * ANNOUNCEMENT BAR
 * ----------------------------------------------------------------------------
 */
.AnnouncementBar {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  background-color: #b0acc3;
  color: white;
  height: 30px;
  width: 100vw;
}

.AnnouncementBar__Wrapper {
  /* padding: 12px 15px; */
  /* height: 50px;
  width: 100vw; */
}

.AnnouncementBar__Content {
  color: inherit;
  margin: 0;
}

/*
 * ----------------------------------------------------------------------------
 * NAV
 * ----------------------------------------------------------------------------
 */

/* ------DARIA------- */

body {
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond,
    "Times New Roman", serif;
  font-size: 5rem;
  flex: 1;
}

.logo:hover {
  color: #b0acc3;
  transition: transform 0.2s ease;
}

nav a,
nav ul {
  list-style: none;
  text-decoration: none;
  color: black;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 150px;
  font-size: 1.5rem;
  justify-content: center;
}

nav li {
}

.switch_language {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex: 1;
}

.language {
  font-size: 1.25rem;
}

.language:hover,
nav li:hover {
  border-bottom: 2px solid #b0acc3;
}

.search {
  background-image: url(img/search.png);
  background-size: 100%;
}

.search:hover {
  background-image: url(img/search-hover.png);
  transition: transform 0.2s ease;
}

.shop_bag {
  background-size: 100%;
  background-image: url(img/shopping-bag.png);
}

.shop_bag:hover {
  background-image: url(img/shopping-bag-hover.png);
  transition: transform 0.2s ease;
}

.user_account {
  background-image: url(img/user.png);

  background-size: 100%;
}

.icon {
  width: 30px;
  height: 30px;
}

.user_account:hover {
  background-image: url(img/user-hover.png);
  transition: transform 0.2s ease;
}

.icon_bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
  flex: 1;
}

.shopping-cart-group {
  display: flex;
  gap: 10px;
}

.shop_text {
  margin: 0;
}

.purple-line {
  width: 100vw;
  height: 1px;
  background-color: #b0acc3;
  margin-top: 20px;
}

.language-logo-icons-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
}
