body {
  background-color: #f5f5f5;
}

.body-container {
  padding: 20px 50px;
}

.breadcrumb {
  margin-top: 30px;
  margin-left: 190px;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

.breadcrumb-text {
  color: black;
}

.breadcrumb-text-last {
  color: black;
  text-decoration: none;
}

.column-pics-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column-pics-size {
  width: 5vw;
  min-width: 90px;
  height: auto;
}

.pic-group {
  display: flex;
  gap: 50px;
}

.all-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-pic {
  height: auto;
  width: 20vw;
  min-width: 350px;
  object-fit: cover;
}

.product-title {
  /* font-family: bodoni-urw, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.5rem;
  letter-spacing: 0.05em; */
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond,
    "Times New Roman", serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.05rem;
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
}

.middle-wrap {
  display: flex;
  flex-direction: column;
}

.left-middle-wrap {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  margin: 0;
}

.middle-right-wrap {
  display: flex;
  gap: 5vw;
}

.product-price {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  margin: 20px 0px;
}

.product-sale-wrap {
  display: flex;
  margin: 20px 0px;
  gap: 10px;
}

.product-price-sale {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  text-decoration: line-through;
  text-decoration-color: #b42525;
  margin: 0;
}

.product-newprice {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  color: #b42525;
  margin: 0;
}

.product-size-wrap {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.product-size-btn {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.product-size-btn-outofstock {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: rgb(182, 182, 182);
}

.product-size-btn-selected {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  /* background-color: #b0acc3; */
}

.white_button {
  border-radius: 5px;
  background: white;
  border: 1px solid #707070;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  width: 200px;
  padding: 10px;
  box-shadow: 0;
  margin: 10px 0px;
}

.color_button {
  border-radius: 5px;
  background: #b0acc3;
  border: 1px solid #b0acc3;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  width: 200px;
  padding: 10px;
  box-shadow: 0;
  color: white;
  margin: 10px 0px;
}

.button-flex {
  display: flex;
  gap: 10px;
}

.productinfo {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond,
    "Times New Roman", serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.05rem;
  font-size: 1.3rem;
  margin: 10px 0px;
}

.productinfo-right {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond,
    "Times New Roman", serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.05rem;
  font-size: 1.6rem;
  margin: 0;
}

.product-infotext {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  max-width: 400px;
}

.unique-text-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
}

.unique-text {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond,
    "Times New Roman", serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.05rem;
  font-size: 2rem;
  letter-spacing: 0.05em;
  margin: 0;
}

.suggestion-pic-wrap {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.suggestion-pic {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
}

.product-pic-shown {
  display: block;
}

.product-pic-hidden {
  display: none;
}

.sale-hidden {
  display: none;
}

.text-hidden {
  display: none;
}

#sizeandfit-text,
#composition-text {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  max-width: 300px;
  margin: 0;
  margin-bottom: 10px;
}

@media only screen and (max-width: 480px) {
  .mobile-hidden-product {
    display: none;
  }

  .breadcrumb {
    margin: 20px 10px;
    font-size: 0.8rem;
  }

  .body-container {
    padding: 0;
  }

  body {
    margin: 0 auto;
  }

  .arrow-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    position: absolute;
  }

  .arrow-pic-wrap {
    position: relative;
    width: 100vw;
  }

  .product-arrow-left {
    width: 20px;
    height: auto;
    margin: 0 30px;
  }

  .product-arrow-right {
    width: 20px;
    height: auto;
    margin: 0 30px;
  }

  .pic-group-mobile {
    width: 100vw;
  }

  .front-pic-mobile {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
  }

  .all-wrap {
    display: block;
  }

  .middle-wrap {
    justify-content: center;
    align-items: center;
  }

  .middle-right-wrap {
    display: flex;
    flex-direction: column;
  }

  .product-title {
    font-size: 1.5rem;
  }

  .unique-text {
    font-size: 1rem;
  }

  .suggestion-pic-wrap {
    gap: 5vw;
  }

  .suggestion-pic {
    width: 25vw;
    height: 25vw;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 50px;
  }

  .product-price-sale {
    font-size: 1rem;
  }

  .product-newprice {
    font-size: 1rem;
  }

  .product-size-wrap {
    gap: 25px;
    justify-content: center;
    margin-top: 10px;
  }

  .product-size-btn {
    width: 10vw;
    height: 10vw;
    max-width: 80px;
    max-height: 80px;
    min-width: 30px;
    min-height: 30px;
    font-size: 0.9rem;
  }

  .product-size-btn-outofstock {
    width: 10vw;
    height: 10vw;
    max-width: 80px;
    max-height: 80px;
    min-width: 30px;
    min-height: 30px;
    font-size: 0.9rem;
  }

  .product-size-btn-selected {
    width: 10vw;
    height: 10vw;
    max-width: 80px;
    max-height: 80px;
    min-width: 30px;
    min-height: 30px;
    font-size: 0.9rem;
  }

  .color_button {
    padding: 7px;
    min-width: 130px;
  }
  .white_button {
    padding: 7px;
    min-width: 130px;
  }

  .productinfo {
    font-size: 0.9rem;
    padding: 0px 30px;
  }

  .productinfo-right {
    font-size: 1.1rem;
    padding: 10px 30px;
  }

  .product-infotext {
    font-size: 0.9rem;
    padding: 10px 30px;
  }

  #sizeandfit-text-mobile,
  #compositiontext-mobile {
    font-family: "Quicksand", sans-serif;
    font-size: 0.9rem;
  }

  .button-flex-mobile {
    display: flex;
    gap: 5px;
    flex-direction: column;
  }

  .product-infotext-wrap {
    background-color: #b0acc327;
  }

  .left-middle-wrap {
    gap: 0;
  }
}
@media only screen and (min-width: 480px) {
  .desktop-hidden-product {
    display: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1100px) {
  .body-container {
    padding: 20px 10px;
  }

  .all-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-middle-wrap {
    display: block;
  }

  .middle-right-wrap {
    display: flex;
    flex-direction: column;
  }

  .middle-wrap {
    justify-content: center;
    align-items: center;
  }

  .product-title {
    margin-top: 20px;
  }

  .button-flex {
    display: flex;
    gap: 30px;
  }

  .inbetween-hidden {
    display: none;
  }

  .inbetween-shown {
    display: flex;
  }

  .right-wrap {
    margin-top: 20px;
  }

  .suggestion-pic {
    width: 25vw;
    height: 25vw;
  }

  .unique-text-wrap {
    margin: 10px 0;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1500px) {
  .body-container {
    padding: 20px 20px;
  }

  .front-pic {
    max-height: 530px;
  }

  .suggestion-pic {
    width: 28vw;
    height: 28vw;
  }
  .button-flex {
    display: flex;
    gap: 20px;
  }

  .left-middle-wrap {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .middle-right-wrap {
    gap: 30px;
  }

  .all-wrap {
    flex-direction: column;
  }

  .color_button {
    max-width: 160px;
  }

  .white_button {
    max-width: 160px;
  }
}
