body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #f5f5f5;
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 2.8vw;
  color: #000000;
  text-align: center;
  margin-bottom: 5vw;
}

h4 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6vw;
  font-weight: 500;
  margin-bottom: 0.25vw;
}

h4 span {
  cursor: pointer;
}

h5 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6vw;
  font-weight: 500;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.p-class {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4vw;
  max-width: 45vw;
  -webkit-text-stroke: #707070;
  letter-spacing: 2px;
}

.instead {
  display: grid;
  grid-template-areas: "side main";
  grid-template-columns: 19vw auto;
  column-gap: 2vw;
}

#filterText {
  display: none;
  text-align: right;
  cursor: pointer;
}

.filter {
  grid-area: side;
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  margin-top: -1.5vw;
}

label {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2vw;
  cursor: pointer;
}

#sort_price,
#collection,
#category,
#sizes {
  display: flex;
  flex-direction: column;
  row-gap: 0.5vw;
  margin-top: 1vw;
}

.disappear {
  display: none;
}

.list {
  grid-area: main;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  margin-top: 0.5vw;
  column-gap: 1.5vw;
  row-gap: 7vw;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.underline {
  text-decoration-line: line-through;
  color: #b42525;
}

.no_border {
  border-style: none;
  border-color: none;
}

article img {
  display: block;
  width: 22vw;
  height: auto;
}

.img_container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.42) 0%,
    rgba(2, 2, 2, 0.75) 2.96%,
    rgba(84, 84, 84, 0) 100%
  );
}

.img_container:hover .overlay {
  cursor: pointer;
  opacity: 1;
}

.allSize {
  color: white;
  position: absolute;
  top: 101%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.row_show {
  display: flex;
  flex-direction: row;
  column-gap: 0.5vw;
  justify-content: center;
  margin-top: -4vw;
}

.boxy {
  height: 2.3vw;
  width: 3vw;
  border-style: solid;
  border-color: #f5f5f5;
  color: #f5f5f5;
  font-weight: 500;
  text-align: center;
  border-radius: 10%;
  padding-top: 0.5vw;
}

.shade {
  border-style: solid;
  border-color: #707070;
  color: #707070;
  opacity: 50%;
}

.name {
  font-size: 1.5vw;
  margin-bottom: -0.5vw;
  text-transform: uppercase;
  font-weight: bold;
}

.block {
  display: block;
}

.btn_filter {
  background-color: white;
  border-color: #b0acc3;
  border-width: 2px;
  border-style: solid;
  width: 1.8vw;
  height: 1.8vw;
  border-radius: 41%;
}

button:hover {
  cursor: pointer;
  background-color: #b0acc3;
  border-color: #b0acc3;
  border-width: 1.5px;
  box-shadow: none;
}

label:hover {
  font-weight: 600;
}

@media only screen and (max-width: 739px) {
  p {
    font-family: "Quicksand", sans-serif;
    font-size: 2vw;
    max-width: 45vw;
    -webkit-text-stroke: #707070;
    letter-spacing: 2px;
  }
  header {
    display: none;
  }

  .headlines {
    font-size: 6vw;
    margin-bottom: -2vw;
    margin-top: 3vw;
  }

  .instead {
    margin-top: -4vw;
    text-align: left;
  }

  .gone {
    display: none;
  }

  .list h4 {
    font-size: 3vw;
  }

  .filter {
    position: absolute;
    left: 53%;
    margin-top: 6vw;
    background-color: white;
    padding: 2vw 11.2vw 5vw 7vw;
    z-index: 3;
  }

  .filter div {
    width: 22vw;
  }

  .filter h4 {
    font-size: 3.5vw;
    width: 22vw;
    margin-bottom: 1vw;
  }

  .filter label {
    font-size: 2.6vw;
  }

  .filter span {
    margin-top: 1vw;
  }

  .allSize {
    top: 95%;
  }

  .row_show {
    column-gap: 1vw;
  }

  .boxy {
    height: 3.9vw;
    width: 4.9vw;
    font-size: 2vw;
    padding-top: 0.7vw;
  }

  #filterIcon {
    width: 4.5vw;
    height: auto;
  }

  #filterText {
    display: unset;
    position: relative;
    right: -80vw;
    cursor: pointer;
    font-size: 3vw;
    font-weight: 600;
  }

  .list {
    grid-template-columns: max-content max-content;
    margin-top: 6vw;
    margin-left: -10vw;
    column-gap: 3vw;
    row-gap: 7vw;
  }

  article img {
    width: 38vw;
    height: auto;
  }
}
